* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.viewport-container {
    width: 100vw;
    height: 100vh;
}

.viewport-top {
    height: 15%;
    background-color: #1ebea5;
}

.viewport-bottom {
    height: 85%;
    background-color: #efe6e6;
}
