* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

.viewport-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.container {
    width: 80%;
    height: 95%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.left-container {
    width: 35%;
    height: 100%;
}

.right-container {
    width: 65%;
    height: 100%;
    position: relative;
}

.left-top {
    border-right: 1px solid rgba(175, 175, 175, .3);
}

.left-top, .right-top {
    width: 100%;
    height: 80px;
    background-color: #e0dede;
}

.myavatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: calc((80px - 60px) / 2);
}

.left-top-icons {
    color: #898989;
    font-size: 20px;
    margin-right: 10px;
    margin-top: calc((80px - 20px) / 2);
}

.left-top-icons i {
    margin-right: 10px;
}

.round-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.notice {
    background-color: #96efff;
    display: flex;
    align-items: center;
}

.notice-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice-icon i {
    font-size: 28px;
    color: #96efff;
}

.notice-text {
    margin-left: 20px;
}

.notice-text small {
    text-decoration: underline;
    color: #a3a3a3;
}

.contact-search {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    border-bottom: 1px solid rgba(175, 175, 175, .3);
}

.search-icon-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(175, 175, 175, .3);
    border-left: 1px solid rgba(175, 175, 175, .3);
    border-bottom: 1px solid rgba(175, 175, 175, .3);
    cursor: pointer;
}

.search-input-container {
    width: 75%;
    border-top: 1px solid rgba(175, 175, 175, .3);
    border-right: 1px solid rgba(175, 175, 175, .3);
    border-bottom: 1px solid rgba(175, 175, 175, .3);
}

.search-icon-container, .search-input-container {
    height: 70%;
    background-color: white;
}

.search-input-container input {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.contact-search i {
    font-size: 20px;
    color: #898989;
}

.notice, .contact {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgba(175, 175, 175, .3);
}

.contact-container {
    height: calc(100% - 50px - 80px - 70px);
    overflow-y: scroll;
}

.contact {
    background-color: #efefef;
}

.img-container {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    width: 85%;
}

.header-contact, .last-message {
    padding: 10px;
}

.name, .surname {
    font-weight: bold;
}

.time {
    font-size: 12px;
}

.right-top {
    position: absolute;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(175, 175, 175, .3);
}

.right-top-subcontainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-chat-left {
    display: flex;
    align-items: center;
}

.active-chat-img {
    margin-left: 20px;
}

.active-chat-info {
    margin-left: 20px;
}

.active-chat-icons {
    margin-right: 20px;
}

.active-chat-icons i {
    margin-right: 10px;
    font-size: 20px;
    color: #898989;
}

.chat {
    width: 100%;
    height: 100%;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    position: absolute;
    top: 0;
    overflow-y: scroll;
}

.footer-right-container {
    width: 100%;
    height: 80px;
    background-color: #e0dede;
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(175, 175, 175, .3);
}

.right-footer-icon {
    width: 10%;
    display: flex;
    justify-content: center;
}

.right-footer-icon i {
    font-size: 24px;
    color: #898989;
}

.new-message-inputs {
    width: 80%;
    height: 70%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
